<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="devid" value="b2b69f68-6598-404a-af34-7c54a646d661"/>
    <add key="appid" value="SreeKal-TestSamp-SBX-92f5ac72b-da2d9683"/>
    <add key="cert" value="SBX-2f5ac72bedd3-557f-4bf4-b702-f0a8"/>
    <!-- token for both API server and EPS server -->
    <add key="token" value="AgAAAA**AQAAAA**aAAAAA**dXqPWA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4GjDZiLowqdj6x9nY+seQ**YfQDAA**AAMAAA**/z9Xl3UlZsgQtWYQ9QKvyW15s8+xfdQpn2sblRJ2VQGqSjShj6pnbw43EwgPkgYUuXBxBUMWXrkfS20bCIn8h383YH2InRmjw6M/8I6hnhGtYVg+8JuymWXmU+gJkMVhVIbresmd50O38jvUg1DbQP2fTeVctiXX4kDANtNncrFnaSYYRD5seMAtbknXtEkqS8tWjFuI7S/tbZTrjplAU3FNWTmNjZ/AMPGGs6WIyC2dtR87mO9xlRoeg/dnthZzUBOndEKJU5HUltCJv+zQOYf3673LpVdOwyUnR3scQTPIpUmhZjq3IfalT+m6QXDS9faGSE5b7fpQ2tL1zmnHOIucVZ2XSCu06xtZqsW0s7TCQ1tshV39B82vyKi7rKGrx3x9QiMtY49gw3nqLvLHmzU5qYNxKxfALC+dIa4bBEGNUiOyZW6yC1rnBF7CZ0RNeO3j3npsPZBoqvPxFl2h9YantfVhcbsABhwcYxS0cQouMctStB+yDF5HLvVVi+PrRDYFyUsrjV+WRFFCE46J/VsC8gtIcUY/SpFXbQQRRvEtN484PH57FbblPhRn9NnPejeLpMWOWC86uIHhQQiJOB00VoD7C6nAQFKqdHLmSq2795lVl3BF+7/YSA68KrIhtBaaZO40qqlAWPXPIP4+DYZOR8wQpSaRSCTVTmG3VI+/62iw+4af2VgiY4AlyYf+zrqpIlIjLox/AUYHBZQyF1faE+zV6gII5m5aYVX0HBdv5nxdZqFYn2il1dOIa4Lx"/>
    <!-- for production use: https://api.ebay.com/ws/api.dll -->
    <add key="epsurl" value="https://api.sandbox.ebay.com/ws/api.dll"/>

    <!-- For production site use: https://api.ebay.com/wsapi -->
    <!-- For Sandbox use: https://api.sandbox.ebay.com/wsapi -->    
    
    <add key="soapurl" value="https://api.sandbox.ebay.com/wsapi"/>
    <add key="timeout" value="90000"/>
    <add key="logexception" value="true"/>
    <add key="logmessages" value="true"/>
    <add key="logsdkmessages" value="true"/>
    <add key="logsdk" value="true"/>
    <add key="logfile" value="Log.txt"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
